<div class="signup-md-panel" layout="column" layout-align="center center" layout-fill>

    <div layout="column" class="signup-container">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Signup</h2>
            </div>
        </md-toolbar>
        <md-containt>
            <form name="signupForm" class="md-padding  md-whiteframe-z1">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>User Id</label>
                    <input type="text" required data-ng-model="vm.user.userId" autocomplete="new-userId" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email Address</label>
                    <input type="email" data-ng-model="vm.user.email" autocomplete="new-email" />
                </md-input-container>
                <!--<div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First Name</label>
                                <input type="text" required data-ng-model="vm.user.firstName" autocomplete="new-firstName" />
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input type="text" required data-ng-model="vm.user.lastName" autocomplete="new-lastName" />
                            </md-input-container>
                        </div>-->
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input type="password" required data-ng-model="vm.user.password" autocomplete="new-password" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Confirm Password</label>
                    <input type="password" required data-ng-model="vm.confirmPassword" autocomplete="new-password" />
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" layout-fill data-ng-disabled="signupForm.$invalid || signupForm.$pending || vm.disableSignUp" data-ng-click="vm.signUp();">Signup</md-button>
                </div>
                <div layout="row" layout-align="start center" layout-padding>
                    <a ui-sref="login" class="primary">Already have an account? Login here</a>
                </div>
            </form>
        </md-containt>
    </div>
</div>