<div class="login-panel" layout="column" layout-align="center center" layout-fill>
    <div layout="column" class="login-container md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
            </div>
        </md-toolbar>
        <ng-md-icon icon="account_circle" size="100" layout-fill layout-align="center center" layout></ng-md-icon>
        <form name="loginForm" class="md-padding">

            <md-input-container class="md-block" flex-gt-sm>
                <label>User Id</label>
                <input type="text" required data-ng-model="vm.user.userName" />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input type="password" required data-ng-model="vm.user.password" autocomplete="new-password" />
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button layout-fill class="md-raised md-primary" data-ng-disabled="loginForm.$invalid || loginForm.$pending || vm.disableLogin" data-ng-click="vm.login();">Login</md-button>
            </div>

            <md-content layout-align="end center">
                <a ui-sref="forgotpassword" md-no-ink="md-no-ink" class="md-primary">Forgot password</a>
            </md-content>

        </form>

    </div>
    <md-content>
        <a ui-sref="signup" md-no-ink="md-no-ink" class="md-primary">Create account</a>
    </md-content>
</div>