.loginBox,
.stretch input {
    width: 100%
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

a.md-button {
    text-decoration: capitalize;
}

a.md-button:not([disabled]):hover {
    background-color: defult;
}

.login-panel {
    min-height: 500px;
}

.signup-panel {
    min-height: 700px;
}

.signup-container,
.login-container {
    margin-bottom: 12px;
}

@media only screen and (min-width: 240px) {
    .signup-container,
    .login-container {
        min-width: 240px;
    }
}

@media only screen and (min-width: 600px) {
    .signup-container,
    .login-container {
        min-width: 320px;
    }
}

@media only screen and (max-width: 920px) {
    md-input-container {
        margin: 5px 0 !important;
    }
    md-input-container:first-child {
        margin: 10px 0 5px 0 !important;
    }
}

/*Buttons :: Start*/
.md-button.facebook-button, .md-button.facebook-button:hover {
    background-color: #3b5998;
}
.md-button.gplus-button, .md-button.gplus-button:hover {
    background-color: #d34836;
}
/*Buttons :: End*/