.loginBox,
.stretch input {
    width: 100%
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

a.md-button {
    text-decoration: capitalize;
}

a.md-button:not([disabled]):hover {
    background-color: defult;
}

.login-panel {
    min-height: 500px;
}

.signup-panel {
    min-height: 700px;
}

.signup-container,
.login-container {
    margin-bottom: 12px;
}

@media only screen and (min-width: 600px) {
    .signup-container,
    .login-container {
        min-width: 350px;
    }
}

@media only screen and (max-width: 920px) {
    md-input-container {
        margin: 5px 0 !important;
    }
    md-input-container:first-child {
        margin: 10px 0 5px 0 !important;
    }
}